@model IEnumerable<CRUDNetCore.Models.Inventario>

@{
    ViewData["Title"] = "Inventario";
}


<h2>
    Inventario
</h2>

<div class="row">
    <div class="col-sm-3">
        @using (Html.BeginForm("Index", "Inventario", FormMethod.Get))
        {
            @*<b>Buscar por:</b>
            @Html.RadioButton("BuscarPor", "SKU", true)<text>SKU</text>
            @Html.RadioButton("BuscarPor", "NumeroSerie", true)<text>Número de serie</text>
            <br />*@
            @Html.TextBox("Buscar", "", new { @class = "form-control", placeholder = "Buscar por todos los campos.." })

        }
      
    </div>
    @*<div col="col-sm-2"><span><i class="glyphicon glyphicon-search"></i></span></div>*@
</div>



<br />
        <p>
            <a asp-action="Create" class="glyphicon glyphicon-plus" >Nuevo</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Sku)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroSerie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdproductoNavigation)
                    </th>
                    <th></th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr><td colspan="4" align="center">No se encontraron resultados</td></tr>
                }
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sku)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroSerie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdproductoNavigation.Codigo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="glyphicon glyphicon-edit" ></a> 
                            <a asp-action="Details" asp-route-id="@item.Id" class="glyphicon glyphicon-search"></a> 
                            <a asp-action="Delete" asp-route-id="@item.Id" class="glyphicon glyphicon-remove"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
