@model IEnumerable<CRUDNetCore.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}

<h2>Inventario</h2>

<input type="button" value="Create" onclick="location.href='@Url.Action("Importar", "Inventario")'" />

<p>
    <a asp-action="Create">Nuevo registro de Inventario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VchSku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VchNumeroSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntCantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnqGenproductoLinkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VchSku)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VchNumeroSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntCantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnqGenproductoLinkNavigation.VchDescripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UnqInvinventarioKey">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.UnqInvinventarioKey">Ver Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.UnqInvinventarioKey">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
